# NOTE: Safe Printing Area of a Prusa Mk52 bed is 250mm x 210mm. 
# If you have a Prusa MK2.5__ (old mk2 frame), you lose a bit of
# X travel due to interference between the extruder cable bundle and frame.
# In that case you should remove 5mm fron the X travel.
#
# If you have a mk2 to mk2.5s+, your position_min and position_endstop will 
# vary due to assembly difference. Set them so that the nozzle is at [0,0] 
# on the correct point of the bed.
# For mk3 I have no idea...

[stepper_x]
position_min: 0 # Override with you own offset, should be the same as position_endstop
position_endstop: 0 # Override with you own offset
position_max: 250

[stepper_y]
position_min: 0
position_endstop: 240
position_max: 240

[stepper_z]
position_max: 210
position_min: -2
