#--------------------------------------#
###### MiniRambo 1.3a MCU definition ########
##### Used in Prusa MK2 to MK2.5S+ #####
# https://reprap.org/wiki/MiniRambo_development
#--------------------------------------#


[board_pins mcu_manufacturer]
aliases:
    MCU_X_STEP=PC0   , MCU_X_DIR=PL1   , MCU_X_ENABLE=PA7  ,
    MCU_Y_STEP=PC1   , MCU_Y_DIR=PL0    , MCU_Y_ENABLE=PA6  ,
    MCU_Z_STEP=PC2   , MCU_Z_DIR=PL2    , MCU_Z_ENABLE=PA5  ,
    MCU_E0_STEP=PG4   , MCU_E0_DIR=PC1    , MCU_E0_ENABLE=PA0    ,

    MCU_X_MIN_STOP=PB6  , MCU_Y_MIN_STOP=PB5  , MCU_Z_MIN_STOP=PB4 ,
    MCU_STOP4=PG12 , MCU_STOP5=PG13 , MCU_STOP6=PG14 , MCU_STOP7=PG15 ,
    MCU_SDA=PD1, MCU_SCL=PD0, MCU_RXDI=PD2, 
    MCU_SERVOS=PB6 ,

    MCU_HEAT_0=PE5, MCU_BED_HEAT=PG5 ,

    MCU_THERMISTOR_0=PF4 , MCU_THERMISTOR_1=PF1 , MCU_THERMISTOR_2=PF2 ,

    MCU_FAN1=PH5 , MCU_FAN2=PH3 ,

    # EX1 header
    EXP1_1=PH2   , EXP1_2=PH6   ,
    EXP1_3=TX1   , EXP1_4=PD5   ,
    EXP1_5=RX1   , EXP1_6=PG4   ,  
    EXP1_7=PH7   , EXP1_8=PG3   ,
    EXP1_9=<GND> , EXP1_10=<5V> ,

    # EXP2 header
    EXP2_1=PB3   , EXP2_2=PB1   ,
    EXP2_3=PJ2   , EXP2_4=PB0   ,
    EXP2_5=TX3   , EXP2_6=PB2   ,
    EXP2_7=RX3   , EXP2_8=<RST> ,
    EXP2_9=<GND> , EXP2_10=<5V> ,
