#--------------------------------------#
###### MiniRambo MCU definition ########
##### Used in Prusa MK2 to MK2.5S+ #####
# https://reprap.org/wiki/MiniRambo_development
#--------------------------------------#

[mcu]
##--------------------------------------------------------------------
# This board work by using a serial connection by default. If you
# want to use CAN, invert the commented lines and use canbus_uuid.

serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[include config/mcu_definitions/main/MiniRambo_1.3a.cfg] # Do not remove this line
[board_pins mini_rambo13a_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_X_STEP   , X_DIR=MCU_X_DIR   , X_ENABLE=MCU_X_ENABLE   ,
    Y_STEP=MCU_Y_STEP   , Y_DIR=MCU_Y_DIR   , Y_ENABLE=MCU_Y_ENABLE  ,
    Z_STEP=MCU_Z_STEP , Z_DIR=MCU_Z_DIR , Z_ENABLE=MCU_Z_ENABLE ,
 
    X_STOP=MCU_X_MIN_STOP , Y_STOP=MCU_Y_MIN_STOP ,

    E_STEP=MCU_E0_STEP   , E_DIR=MCU_E0_DIR   , E_ENABLE=MCU_E0_ENABLE  ,


    PROBE_INPUT=MCU_Z_MIN_STOP  ,
    RUNOUT_SENSOR=MCU_SDA ,

    E_HEATER=MCU_HEAT_0   , E_TEMPERATURE=MCU_THERMISTOR_0   ,
    BED_HEATER=MCU_BED_HEAT , BED_TEMPERATURE=MCU_THERMISTOR_2 ,

    PART_FAN=MCU_FAN2 , E_FAN=MCU_FAN1 ,
    E_FAN_TACHO=MCU_X_MAX ,

